executor { 
  name = 'slurm' 
  queueSize = 10
  queue = 'c_vhighmem_dri1'
}

params {
  max_memory = 700.GB
  max_cpus = 30
  max_time = 82.h
}

tower {
  accessToken = keyring::key_get("hawk_nextflow_tower")
  enabled = true
}

process {
    clusterOptions = '--account=scw1329'
    beforeScript = 'module load singularity'
    withName: SCFLOW_MERGE {
      memory = 300.GB
    }
    withName: SCFLOW_INTEGRATE {
      memory = 500.GB
      queue = 'c_vhighmem_dri1'
    }
}
